<div class="container">
    <div class="about-section">
        <h1>אודות פרויקט המתכונים שלנו</h1>
        <img id="imgFood" src="images/imgFood.webp" alt="">
        <p>ברוכים הבאים לפלטפורמה שלנו, המוקדשת כולה לאהבה משותפת אחת: אוכל!</p>
        <p>המטרה שלנו היא ליצור קהילה תוססת של חובבי בישול, ממתחילים גמורים ועד שפים ביתיים מנוסים. אנו מאמינים שלכל אחד צריכה להיות גישה למתכונים טעימים, קלים להכנה ומעוררי השראה.</p>

        <h2>מה תמצאו כאן?</h2>
        <ul>
            <li><strong>מגוון רחב של מתכונים:</strong> מארוחות יומיומיות פשוטות ועד למנות גורמה מורכבות יותר, אנו שואפים להציע אוסף מגוון שיענה על כל טעם והעדפה תזונתית.</li>
            <li><strong>הוראות ברורות וקלות למעקב:</strong> כל מתכון מגיע עם רשימת מרכיבים מפורטת והוראות שלב אחר שלב, כדי להבטיח שתמיד תדעו בדיוק מה לעשות.</li>
            <li><strong>אפשרות לשיתוף:</strong> אנו מעודדים אתכם לשתף את המתכונים האהובים עליכם, להגיב על מתכונים של אחרים ולבנות יחד קהילה של אוהבי אוכל.</li>
        </ul>

        <h2>החזון שלנו</h2>
        <p>אנו שואפים להיות המקור המועדף עליכם למתכונים, טיפים וטריקים שיעזרו לכם להפוך את המטבח למקום שמח ויצירתי. אנו מתכננים להוסיף עוד תכונות בעתיד, כמו אפשרות לשמור מתכונים מועדפים, ליצור אוספים אישיים ועוד.</p>

        <p>אנו שמחים שאתם כאן ומקווים שתהנו לחקור את המתכונים שלנו!</p>
        <p>בתיאבון!</p>
        <p>צוות פרויקט המתכונים.</p>
    </div>
</div>