.login-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 800px;
  /* הגדלת הרוחב ל-400 פיקסלים */
  margin: 50px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-card p {
  color: #f3adec;
  margin-bottom: 15px;
  text-align: center;
}

.login-card input[type="text"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.login-card button[type="submit"] {
  background-color: #d87093;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

#imgLog {
  text-align: right;
  display: block;
  margin-right: 0;
  width: 40%;
  margin-top: 100px;
}

.login-card button[type="submit"]:hover {
  background-color: #f0b3c7;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}